#system.properties
theme.default=docsearch
suggest.document=true
purge.searchlog.day=90
append.query.parameter=false
web.api.popularword=true
purge.suggest.searchlog.day=30
user.favorite=false
login.link.enabled=false
login.required=false
result.collapsed=true
csv.file.encoding=UTF-8
crawling.incremental=true
failure.countthreshold=-1
thumbnail.enabled=true
search.log=true
purge.userinfo.day=90
purge.joblog.day=90
user.info=true
crawling.thread.count=5
ldap.memberof.attribute=memberOf
web.api.json=true
day.for.cleanup=90
suggest.searchlog=true
